doctype html
html(lang='zh-CN')
	head
		title 发布文章
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(type="text/css",rel="stylesheet",href="/css/style.css")
		link(type="text/css",rel="stylesheet",href="/css/addArticle.css")
	body
		form(action='/add',method='post',enctype='multipart/form-data')
			.error #{msg}
			h1 发布文章
			.formgroup.clearfix
				label.l(for="title") 标题
				.input
					input#title(name="title")
				.tip.clearfix
			.formgroup.clearfix
				label.l(for="desc") 描述
				.input
					textarea#desc(name="desc")
				.tip.clearfix
			.formgroup.clearfix
				label.l(for="type") 类型
				.input
					select#type(name='type')
						-select=[{name:"男生头像",value:"nanshengtouxiang"}, {name:"女生头像",value:"nvshengtouxiang"}, {name:"情侣头像",value:"qinglvtouxiang"}, {name:"卡通头像",value:"katongtouxiang"}, {name:"黑系",value:"hetouxiang"}, {name:"白系",value:"baitouxiang"}, {name:"动态头像",value:"dongtaitouxiang"}, {name:"代文字头像",value:"wenzitouxiang"}, {name:"欧美头像",value:"oumeitouxiang"}, {name:"动漫头像",value:"dongmantouxiang"}, {name:"微信头像",value:"weixintouxiang"}, {name:"美女头像",value:"meinvtouxiang"}, {name:"帅哥头像",value:"shuaigetouxiang"}, {name:"非主流头像",value:"fzltouxiang"}, {name:"可爱头像",value:"keaitouxiang"}]
						each option in select
							option(value=option.value) #{option.name}
				.tip.clearfix
			
			.formgroup.clearfix
				label.l(for="file") 头像
				.input
					input(type='file')#file(name="file")
				.tip.clearfix
			.button.clearfix
				button.r.btn-ok 提交
		script.
			var success=#{success}
		script(src="/js/lib/require.js",type="text/javascript",data-main="/js/config")
		script(src="/js/addArticle.js",type="text/javascript")