doctype html
html(lang='zh-CN')
	head
		title 发布文章
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(type="text/css",rel="stylesheet",href="/css/style.css")
		link(type="text/css",rel="stylesheet",href="/css/addArticle.css")
	body
		include com/admin-header
		form(action='/addArticle',method='post',enctype='multipart/form-data')
			.error #{msg}
			h1 发布文章
			.formgroup.clearfix
				label.l(for="title") 标题
				.input
					input#title(name="title",autofocus='true')
				.tip.clearfix
			.formgroup.clearfix
				label.l(for="desc") 描述
				.input
					textarea#desc(name="desc")
				.tip.clearfix
			.formgroup.clearfix
				label.l(for="type") 类型
				.input
					select#type(name='type')
						each value,key in data
							option(value=key) #{value}
				.tip.clearfix
			
			.formgroup.clearfix.photo
				label.l(for="file") 头像
				.input
					input(type='file')#file(name="file")
				.tip.clearfix
				a.addPhoto(href="javascript:;",title="增加") 增加
			.button.clearfix
				button.r.btn-ok 提交
		script(src="/js/lib/require.js",type="text/javascript",data-main="/js/config")
		script(src="/js/addArticle.js",type="text/javascript")