doctype html
html(lang='zh-CN')
	head
		title #{title} #{title}小清新 #{title}带字 #{title}大全 #{title}伤感 by QQ头像网 
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="keywords",content="#{title} #{title}小清新 #{title}带字 #{title}大全  #{title}伤感")
		meta(name="description" content="最新的#{title}")
		link(type="text/css",rel="stylesheet",href="/css/style.css")
		link(type="text/css",rel="stylesheet",href="/css/common.css")
	body
		include com/header
		.container.main
			.item
				include com/qqphoto-sliderNav
			.item.hot
				h2 #{title}
				ul.clearfix
					each item in data
						li(data-id="#{item._id}")
							.inner
								.img
									a(href="/article/#{item._id}",target="_blank")
										img(src="/upload/#{item.imgSrc[0].name}",width=180,height=180,title="#{item.title}")
								.desc #{item.desc}
								.info.clearfix
									.span.l #{item.time}
									span.r #{item.author}
								.like
									i.icon-xin.icon.up(title="不错")
										span #{item.up}
									i.icon-xinsui.icon.down(title="太差")
										span #{item.down}
									i.icon-liulan.icon(title="浏览")
										span #{item.view}
									i.icon-downLoadNum.icon(title="使用量")
										span #{item.downLoad}
			.pagination-sm.clearfix
				ul#pagination
		include com/footer
		script.
			var totalPage="#{totalPage}";
			var type="#{type}";
		script(src="/js/lib/require.js",type="text/javascript",data-main="/js/config")
		script(src="/js/common.js",type="text/javascript")
		script(src="/js/list.js",type="text/javascript")