doctype html
html(lang='zh-CN')
	head
		title #{data.title} by QQ头像网 
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="keywords",content="#{data.title} 最新的QQ头像 QQ男生头像 QQ女生头像 QQ情侣头像 QQ头像网")
		meta(name="description" content="#{data.title} 来至于QQ头像网")
		link(type="text/css",rel="stylesheet",href="/css/style.css")
		link(type="text/css",rel="stylesheet",href="/css/common.css")
		link(type="text/css",rel="stylesheet",href="/css/ui-dialog.css")
	body
		include com/header
		.container.main
			.item
				include com/qqphoto-sliderNav
			.item.article
				.content
					h1 #{data.title}
					.info
						span 上传者：#{data.author}
						span 时间：#{data.updateTime}
						span 查看次数：#{data.view}
					ul.clearfix
						each item in data.imgSrc
							li
								.inner
									.img
										img(src="/upload/#{item.name}",width=180,height=180,alt="#{cnType}")
									.like
										a(href="/download?imgId=#{item.name}&id=#{data._id}")
											i.icon-xiazai.icon(title="下载")
										i.icon-yifu.icon.try(title="查看效果")
		include com/footer
		script(src="/js/lib/require.js",type="text/javascript",data-main="/js/config")
		script(src="/js/common.js",type="text/javascript")